@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Theme Made By www.w3schools.com - No Copyright -->
    
    <style>
        body {
           
            background-image: url('../Images/spaceelevator_fb.jpg');
        }

        p {
            font-size: 16px;
        }

        .margin {
            margin-bottom: 45px;
        }

        .bg-1 {
            background-color: lightblue; /* Green */
            color: lightslategrey;
        }

        .bg-2 {
            background-color: lightcoral; /* Dark Blue */
            color: white;
        }

        .bg-3 {
            background-color: lightcoral; /* White */
            color: lightgrey;
        }

        .bg-4 {
            background-color: darkblue; /* Black Gray */
            color: #fff;
        }

        .container-fluid {
            padding-top: 70px;
            padding-bottom: 70px;
        }

    </style>
</head>
<body>

    <!-- First Container -->
    <div class="container-fluid bg-1 text-center">
        <h3 class="margin">----THE PORTAL TO YOUR PRODUCTS----</h3>

        <h3>--OUR NEWEST PLATFORM JUST FOR YOUR NEEDS--</h3>
    </div>
    
    <!-- Second Container -->
    <div class="container-fluid bg-2 text-center">
        <h3 class="margin">Welcome in the customer center</h3>
        <p>Thanks to believe in us </p>
        <a href="/Home/Privacy" class="btn btn-primary btn-lg">
            <button class="btn btn-primary btn-lg" id="submitButton">Show my products</button> 
        </a>
    </div>



</body>
</html>

